{% extends "base_front2.html" %} {% load static %} 
{% block titulo %} Consultar estado del servicio {% endblock %} 
{% block guia %}
<p class="breadcrumbs">
    <span class="mr-2"><a href="{% url 'inicio' %}" style="color:aliceblue !important;">Inicio<i class="ion-ios-arrow-forward"></a></span>
    <span class="mr-2">></span>
    <span><u>Consulta servicio</u> <i class="ion-ios-arrow-forward"></span>
</p>
{% endblock %} 
{% block content %}
<style>
    body {
      background-image: url("{% static 'plantilla-frontend/img/especimenes.jpg' %}");
    }

    .container-center{
        justify-content: center;
    }
</style>
    
    <div class = "container-center" style="width:50%">
        <div class="busqueda" style="width:100%; background-color:rgba(255,255,255,0.7); border-radius: 5px; padding: 10px; transform: translateY(50%);" align="left">
                <input style="width: 100%" id="ticket_servicio" name="ticket_servicio" type="text" class=" col-12">


                <div style="margin-top:10px;">
                    <!--<a href="/es/colecciones/advancedsearch/plants/">-->
                    <a href="" data-toggle="modal" data-target="#myModal">
                        <strong><big>Búsqueda avanzada</big></strong>
                    </a>
                </div>
                <div style="display: flex; justify-content: space-around;">
                    <button type="submit">Buscar</button>
                </div>
            </form>
        </div>
    </div>


{% endblock %} {% block javascript %}


{% endblock %}