Django==2.2.24
django-bootstrap3==11.0.0
django-crispy-forms==1.7.2
django-datetime-widget==0.9.3
django-floppyforms==1.7.0
django-role-permissions==2.2.1
easy-thumbnails==2.6
psycopg2==2.8.2
# django-floppyforms
#pathlib==1.0.1
#channels
django-recaptcha2==1.4.1