{% extends "baseBackend.html" %} 
{% load static %} 
{% block titulo %} Visitas Agendadas {% endblock %}

{% block extrahead %}
<!--FullCalendar-->
<link href="{% static 'plugins/fullcalendar/packages/core/main.css'%}" rel='stylesheet' />
<link href="{% static 'plugins/fullcalendar/packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static 'plugins/fullcalendar/packages/bootstrap/main.css'%}" rel='stylesheet' />
{% endblock %} 

{% block content %}
<!-- mostrar detalle evento -->
<div id="fullCalModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span> <span class="sr-only">close</span></button>
                <h4 id="modalTitle" class="modal-title"></h4>
            </div>
            <div id="modalBody" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button class="btn btn-primary"><a id="eventUrl" target="_blank">Event Page</a></button>
            </div>
        </div>
    </div>
</div>

<div class="wrapper wrapper-content">
    <div class="row animated fadeInDown">
        <div class="ibox">
            <div class="ibox-title">
                <h5>Visitas </h5>
            </div>
            <div class="ibox-content">
                <div id="calendar"></div>
            </div>
        </div>
    </div>
</div>


{% endblock %} 
{% block plugins %}

<!-- Full Calendar -->
<script src="{% static 'plugins/fullcalendar/packages/core/main.js'%}"></script>
<script src="{% static 'plugins/fullcalendar/packages/daygrid/main.js'%}"></script>
<script src="{% static 'plugins/fullcalendar/packages/bootstrap/main.js'%}"></script>
<!-- axios -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>



<script>

let eventos = []

const loadCalendar = () => axios.get("{% url 'visita:visitasAgendadas' %}")
    .then(function (response) {
        const visitas = response.data.lista
        for (index in visitas) {
            eventos.push({
                    title: visitas[index].nombre,
                    start: visitas[index].fecha,
                    id : visitas[index].id,
                    rendering : visitas[index].descripcion
                })
        }
        /* initialize the calendar
        -----------------------------------------------------------------*/
        const date = new Date();
        const d = date.getDate();
        const m = date.getMonth();
        const y = date.getFullYear();


        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid','bootstrap' ],
            timeZone: 'UTC',
            themeSystem: 'bootstrap',
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            events: eventos,
            eventClick:  function(event, jsEvent, view) {
                console.log(event.event)
                console.log(event.event.rendering)
                $('#modalTitle').html(event.event.title);
                $('#modalBody').html(event.event.rendering);
                $('#fullCalModal').modal();
            }
        });

        calendar.setOption('locale', 'es')

        calendar.render();
    })
    .catch(function (error) {
        // handle error
        console.log(error);
    })

        
loadCalendar()
</script>   

{% endblock %} 
