{% extends "base_front2.html" %} {% load static %} {% block head %}
<!--FullCalendar-->
<link href="{% static 'plugins/fullcalendar/packages/core/main.css'%}" rel='stylesheet' />
<link href="{% static 'plugins/fullcalendar/packages/daygrid/main.css'%}" rel='stylesheet' />
<link href="{% static 'plugins/fullcalendar/packages/bootstrap/main.css'%}" rel='stylesheet' />
<!--Tempusdominus-->
<link href="{% static 'plugins/TempusDominus/tempusdominus-bootstrap-4.min.css'%}" rel='stylesheet' />
<!--SmartWizard-->
<link href="{% static 'plugins/SmartWizard-master/dist/css/smart_wizard.css" rel="stylesheet'%}" type="text/css" />
<link href="{% static 'plugins/SmartWizard-master/dist/css/smart_wizard_theme_dots.css'%}" rel="stylesheet" type="text/css" /> {% endblock %} {% block titulo %} Solicitar Visita {% endblock %} {% block guia %}
<p class="breadcrumbs">
    <span class="mr-2"><a href="{% url 'inicio' %}" style="color:aliceblue !important;">Inicio<i class="ion-ios-arrow-forward"></a></span>
    <span class="mr-2">></span>
    <span><u>Solicitar visita</u> <i class="ion-ios-arrow-forward"></span>
</p>
{% endblock %} {% block content %}
<style>
    #guardar{
        margin: 10px 6px 6px 6px ;
        color: #fff;
        background-color: #bd2130ad;
        border-color: #bd2130ad;
    }
</style>
<div class="container">
    <h2>Solicitud de visita</h2>
    <br>
    <div class="row">
        <div id="smartwizard" class="col-lg-9">
            <ul>
                <li><a href="#step-1">Calendario<br /></a></li>
                <li><a href="#step-2">Formulario<br /></a></li>
            </ul>

            <div>
                <div id="step-1">
                    <div class="ibox float-e-margins">
                        <div id='calendar' style="margin-top: 20px;"></div>
                    </div>
                </div>
                <div id="step-2" class="col-lg-12">
                    <form method="post" enctype="multipart/form-data" class="form-horizontal"  style="margin-top: 20px;">
                        {% csrf_token %}
                        <div class="row">
                            <div class= "col-sm-8">
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label" for={{form.fecha.name}}>{{form.fecha.label}}</label>
                                    <div class = "col-sm-8">
                                        <div class="input-group date" id="datetimepicker4" data-target-input="nearest">
                                            {{form.fecha}}
                                            <div class="input-group-append" data-target="#datetimepicker4" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class= "col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label" for={{form.hora.name}}>{{form.hora.label}}</label>
                                    <div class = "col-sm-9">
                                        <div class="input-group date" id="datetimepicker3" data-target-input="nearest">
                                            {{form.hora}}
                                            <div class="input-group-append" data-target="#datetimepicker3" data-toggle="datetimepicker">
                                                <div class="input-group-text"><i class="fa fa-clock-o"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row">
                        <div class= "col-sm-8">
                            <div class="form-group row">
                                <label class="col-sm-2 control-label" for={{form.nombre.name}}>{{form.nombre.label}}</label> 
                                <div class = "col-sm-8">
                                    {{form.nombre}}
                                </div>
                            </div>
                        </div>
                        <div class= "col-sm-4">
                            <div class="form-group row">
                                <label class="col-sm-3 control-label" for={{form.numPersonas.name}}>{{form.numPersonas.label}}</label> 
                                <div class = "col-sm-9">
                                    {{form.numPersonas}}
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="row">
                            <div class= "col-sm-8">
                                <div class="form-group row">
                                    <label class="col-sm-2 control-label"  for={{form.correo.name}}>{{form.correo.label}}</label> 
                                    <div class = "col-sm-8">
                                        {{form.correo}}
                                    </div>
                                </div>
                            </div>
                            <div class= "col-sm-4">
                                <div class="form-group row">
                                    <label class="col-sm-3 control-label"  for={{form.telefono.name}}>{{form.telefono.label}}</label>
                                    <div class = "col-sm-9">
                                        {{form.telefono}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-sm-2 control-label" for={{form.motivo.name}}>{{form.motivo.label}}</label>
                            <div class = "col-sm-10">
                                {{form.motivo}}
                            </div>
                        </div>
                        <div class="text-center">
                            <input id= "guardar" type="submit" value="Solicitar" class="btn btn-success btn-lg">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <h2>Proceso</h2>
                    Si tienes un grupo de mas de cinco personas y deseas realizar una visita al Herbario CUVC, puedes verificar en el calendario los días disponibles y diligenciar el formulario que encontraras en la siguiente pestaña. Realizado este proceso un funcionario
                    se contactara contigo para confirmar la visita.
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block javascript %}

<!-- Full Calendar -->
<script src="{% static 'plugins/fullcalendar/packages/core/main.js'%}"></script>
<script src="{% static 'plugins/fullcalendar/packages/daygrid/main.js'%}"></script>
<script src="{% static 'plugins/fullcalendar/packages/bootstrap/main.js'%}"></script>
<!--SmartWizard-->
<script type="text/javascript" src="{% static 'plugins/SmartWizard-master/dist/js/jquery.smartWizard.min.js'%}"></script>
<!--Tempusdominus-->
<script src="{% static 'plugins/moments/moment.js'%}"></script>
<!-- <script src="{% static 'plugins/moments/moment-locale-es.js'%}"></script> -->
<script src="{% static 'plugins/TempusDominus/tempusdominus-bootstrap-4.min.js'%}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>


<script>

let eventos = []

const loadCalendar = () => axios.get("{% url 'visita:visitasAgendadas' %}")
    .then(function (response) {
        // handle success
        const visitas = response.data.lista
        //console.log(visitas)
        //console.log(typeof(visitas))
        for (index in visitas) {
            eventos.push({
                    title: visitas[index].nombre,
                    start: visitas[index].fecha
                })
        }
        /* initialize the calendar
     -----------------------------------------------------------------*/
        const date = new Date();
        const d = date.getDate();
        const m = date.getMonth();
        const y = date.getFullYear();


        const calendarEl = document.getElementById('calendar');
        const calendar = new FullCalendar.Calendar(calendarEl, {
            plugins: [ 'dayGrid','bootstrap' ],
            timeZone: 'UTC',
            themeSystem: 'bootstrap',
            header: {
                left: 'prev,next',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            editable: false,
            events: eventos,
            aspectRatio: 2
        });

        calendar.setOption('locale', 'es')

        calendar.render();
    })
    .catch(function (error) {
        // handle error
        console.log(error);
    })

    
    loadCalendar()
</script>
<script src="{% static 'js/crearVisita.js' %}"></script>

{% endblock %}