
{% extends "base1.html" %}
{% load static %}



{% block titulo %}
Registrar Usuario
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-lg-10">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h2>Registar Usuario</h2>
            </div>
            
            <div class="ibox-content">
                <form method="post" class="form-horizontal">
                    {% csrf_token %}
                    
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for={{form.username.name}}>{{form.username.label}}</label>
                        <div class="col-sm-6">{{form.username}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for={{form.first_name.name}}>{{form.first_name.label}}</label>
                        <div class="col-sm-6">{{form.first_name}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for={{form.last_name.name}}>{{form.last_name.label}}</label>
                        <div class="col-sm-6">{{form.last_name}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for={{form.email.name}}>{{form.email.label}}</label>
                        <div class="col-sm-6">{{form.email}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for={{form.password1.name}}>{{form.password1.label}}</label>
                        <div class="col-sm-6">{{form.password1}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for={{form.password2.name}}>{{form.password2.label}}</label>
                        <div class="col-sm-6">{{form.password2}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for={{form.rol.name}}>{{form.rol.label}}</label>
                        <div class="col-sm-6">{{form.rol}}</div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-7">
                            <button class="btn btn-white" type="submit">Cancel</button>
                            <button class="btn btn-primary" type="submit">Guardar</button>
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block plugins %}
<script src="{% static 'plantilla-backend/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>
<!-- Jquery Validate -->
<script src="{% static 'plantilla-backend/js/plugins/validate/jquery.validate.min.js' %}"></script>

<script>
 $(document).ready(function(){
     form.validate();

});
</script>


{% endblock %}