.form-big.wizard > .content {
    min-height: 300px;
    
}
.form-big.wizard .content > .body {
    width: 100%;
    height: auto;
    padding: 15px;
    position: relative;
}

.wizard-big.wizard > .content {
    min-height: 530px !important; 
}

.wizard > .content > .body {
    float: left;
    position: absolute;
    width: 100% !important;
    height: 100% !important;
    padding: 2.5%;
}

textarea.form-control {
    width: 100%;
    height: 131px;
}