<!DOCTYPE html> {% load static %} {% load permission_tags %}
<meta charset="utf-8">
<html>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css" type="text/css" />
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css" type="text/css" />
        <link href="{% static 'plantilla-backend/font-awesome/css/font-awesome.css' %}" rel="stylesheet">
        <!-- Toastr style -->
        <link href="{% static 'plantilla-backend/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
        <!-- Favicons -->
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon"> {% block head %} {% endblock %}
        <title>{% block titulo %} {% endblock %} </title>

    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar ftco-navbar-light" id="ftco-navbar" style="background-color:#bd2130">
            <div class="container">
                <a class="navbar-brand" href="index.html">MENU UNIVALLLE</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                    </button>
            </div>
        </nav>
        <section class="hero-wrap hero-wrap-2" style="background-color: #4b5258 !important;" data-stellar-background-ratio="0.5">
            <div class="container">
                <div class="row no-gutters slider-text align-items-end " style="color:aliceblue !important;">
                    {% block guia %} {% endblock %}
                </div>
            </div>
            </div>
        </section>
        <section style="margin-bottom: 20px; margin-top: 20px;">

            {% block content %} {% endblock %}

        </section>

    </body>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<!-- Toastr -->
<script src="{% static 'plantilla-backend/js/plugins/toastr/toastr.min.js' %}"></script>
<!-- mostrar mensaje de exito o error que se envia desde las vistas  -->
    <script type="text/javascript">
        {% for msg in messages %}
            $(document).ready(function(){
                setTimeout(function() {
                    toastr.options = {
                        "closeButton": true,
                        "progressBar": true,
                        showMethod: 'slideDown',
                    }
                    toastr["{{ msg.tags }}"]("{{msg}}")
                },500);
            });
        {% endfor %}
    </script>


{% block javascript %} {% endblock %}

</html>