{% extends "base_front.html" %} {% load static %} {% block extrahead %}
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="{% static 'plugins/OwlCarousel2/dist/assets/owl.carousel.min.css' %}" />
<link rel="stylesheet" href="{% static 'plugins/OwlCarousel2/dist/assets/owl.theme.default.min.css' %}" />
<link rel="stylesheet" href="{% static 'index-home.scss' %}" /> {% endblock%} {% block content %}
<!--==========================
  Header
  ============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <!-- Uncomment below if you prefer to use a text logo -->
            <h1><a href="/#hero">Herbario CUVC</a></h1>
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li><a href="{% url 'usuario:login' %}">Login</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->

<!--==========================
    Hero Section
  ============================-->
<section id="hero">
    <div class="hero-container">
        <center style="width: 50%">
            <div class="busqueda" style="width:100%; background-color:rgba(255,255,255,0.7); border-radius: 5px; padding: 10px; transform: translateY(50%);" align="left">
                <form action='/especimen/busqueda' method="post">
                    {% csrf_token %}
                    <div style="display: flex-wrap ; justify-content: space-around; font-size: 1.3rem">
                        <label for="option0"><input checked="checked" id="option0" name="option" type="radio" value="especie"> Especie</label>

                        <label for="option1"><input id="option1" name="option" type="radio" value="familia"> Familia</label>

                        <label for="option2"><input id="option2" name="option" type="radio" value="genero"> Género</label>
                    </div>
                    <br>
                    <input style="width: 100%" autocomplete="off" id="especimen" name="filtro" type="text" class="ui-autocomplete-input col-12">


                    <div style="margin-top:10px;">
                        <!--<a href="/es/colecciones/advancedsearch/plants/">-->
                        <a href="" data-toggle="modal" data-target="#myModal">
                            <strong><big>Búsqueda avanzada</big></strong>
                        </a>
                    </div>
                    <div style="display: flex; justify-content: space-around;">
                        <button type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </center>
    </div>
</section>
<!-- #hero -->

<main id="main">

    <!--==========================
      About Us Section
    ============================-->
    <section id="about">
        <div class="container">
            <div class="row about-container">

                <div class="col-lg-6 content order-lg-1 order-2">
                    <h2 class="title">Sobre nosotros</h2>
                    <p>
                        El herbario de la Universidad del Valle fue fundado en 1965 por Luis Sigifredo Espinal-Tascón, pionero en el estudio de la ecología en Colombia. Su acrónimo internacional (registrado con el Jardín Botánico de Nueva York) es CUVC. Actualmente cuenta con
                        unos 100.000 especímenes de los cuales 53.000 están incluídos y a disposición en la colección. Colecciones importantes: Bajo Calima, Cerro del Torrá, frontera Chocó-Valle, páramo de Pan de Azúcar, parte central del Departamento
                        del Cauca, y valle geográfico del río Cauca. La información que se está compartiendo es de la familia Fabaceae. La familia Fabaceae es una de las más grandes y de distribución cosmopolita; cuenta con alrededor de 700 géneros y
                        18.000 especies, lo cual la convierte en la tercera familia de mayor riqueza después de las Asteraceae y Orchidaceae; además están altamente representadas en los ecosistemas de bosque seco. Esta familia se compone de tres subfamilias:
                        caesalpinoideae, faboideae y mimosoideae. La base de datos proporcionada corresponde por lo pronto a los registros de las subfamilias caesalpinoideae y faboideae que se encuentran depositadas en la colección de herbario CUVC de
                        la Universidad del Valle.
                    </p>



                </div>

                <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
            </div>

        </div>
    </section>
    <!-- #about -->
    <!--==========================
      Services Section
    ============================-->
    <section id="services">
        <div class="container wow fadeIn">
            <div class="section-header">
                <h3 class="section-title">Servicios</h3>
                <p class="section-description">Servicios ofrecidos por el Herbario, para el público en general</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                    <div class="box">
                        <div class="icon"><a href="/"><i class="fa fa-desktop"></i></a></div>
                        <h4 class="title"><a href="/">Prestamo de especimenes</a></h4>
                        <p class="description">detalle</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
                    <div class="box">
                        <div class="icon"><a href="/"><i class="fa fa-bar-chart"></i></a></div>
                        <h4 class="title"><a href="/">Agendamiento de Visitas</a></h4>
                        <p class="description">detalle</p>
                    </div>
                </div>
                <!-- <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
            <div class="box">
              <div class="icon"><a href="/"><i class="fa fa-paper-plane"></i></a></div>
              <h4 class="title"><a href="/">Solicitud de espacios</a></h4>
              <p class="description">Para estudiantes de postgrado de la Universidad del Valle, podran solicitar espacios de estudio</p>
            </div>
          </div> -->

                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s" align="center">
                    <div class="box">
                        <div class="icon"><a href="/"><i class="fa fa-photo"></i></a></div>
                        <h4 class="title"><a href="">Identificación de especimenes</a></h4>
                        <p class="description">detalle</p>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- #services -->

    <!--==========================
        Team News
    ============================-->

    {% if noticias %}
    <section id="notices">
        <div class="container wow fadeIn" style='display: flex;align-items: center;justify-content: center'>
            <div class="section-header">
                <div class="section-header">
                    <h3 class="section-title">Noticias</h3>
                </div>
                {% for noticia in noticias %}
                <div class="row" style='width: 60rem; align-content: center'>
                    <div class="owl-carousel owl-theme">
                        <figure class="item">
                            <img src="/media/{{noticia.imagen}}">
                            <figcaption>{{noticia.resumen}}</figcaption>
                        </figure>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}
    <!-- #News -->

    <!--==========================
        Team Section
    ============================-->
    <section id="team">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Equipo</h3>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static 'plantilla-frontend/img/director.jpeg' %}" alt=""></div>
                        <h4>Alba Marina Torres</h4>
                        <span>Director</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static 'plantilla-frontend/img/curador.jpg' %}" alt=""></div>
                        <h4>Maria Esther</h4>
                        <span>Curador</span>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6">
                    <div class="member">
                        <div class="pic"><img src="{% static 'plantilla-frontend/img/investigador.jpg' %}" alt=""></div>
                        <h4>Alejandro </h4>
                        <span>Investigador</span>
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- #team -->

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact">
        <div class="container wow fadeInUp">
            <div class="section-header">
                <h3 class="section-title">Contacto</h3>
            </div>
        </div>

        <!-- Uncomment below if you wan to use dynamic maps -->
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3982.8872085422504!2d-76.53659318671936!3d3.377733752650436!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a16f02717383%3A0xd4c6c006f1049885!2sHerbario+CUVC+Luis+Sigiftedo+Espinal!5e0!3m2!1ses!2sco!4v1541645405543"
            width="100%" height="380" frameborder="0" style="border:0" allowfullscreen></iframe>

    </section>
    <!-- #contact -->

</main>

<!--==========================
    Footer
  ============================-->
<footer id="footer">
    <div class="footer-top">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong>Universidad del Valle</strong>
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>



<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Busqueda Avanzada</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <form method="post" action='/especimen/api/busqueda'>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label class="control-label col-12">Tipo</label>
                                <select class="col-12" id="id_tipo" name="tipo" style="height: 30px;">
                    <option value="ninguno">Ninguno</option>
                    <option value="Holotipo">Holotipo</option>
                    <option value="Isotipo">Isotipo</option>
                    <option value="Lectotipo">Lectotipo</option>
                    <option value="Isolectotipo">Isolectotipo</option>
                    <option value="Hololectotipo">Hololectotipo</option>

                  </select>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-12">Género</label>
                                <input autocomplete="off" id="id_genero" name="genero" type="text" class="ui-autocomplete-input col-12">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-12">País</label>
                                <input autocomplete="off" id="id_pais" name="pais" type="text" class="ui-autocomplete-input col-12">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-12">Departamento</label>
                                <input autocomplete="off" id="id_departamento" name="departamento" type="text" class="ui-autocomplete-input col-12">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-12">Municipio</label>
                                <input autocomplete="off" id="id_municipio" name="municipio" type="text" class="ui-autocomplete-input col-12">
                            </div>
                        </div>
                        <div class="col-sm">
                            <div class="form-group">
                                <label class="control-label col-12">Familia</label>
                                <input autocomplete="off" id="id_familia" name="familia" type="text" class="ui-autocomplete-input col-12">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-12">Número de registro</label>
                                <input autocomplete="off" id="id_numerocatalogo" name="numeroRegistro" type="text" class="col-12">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-12">Colector principal</label>
                                <input autocomplete="off" id="id_colectorprimario" name="colectorprimario" type="text" class="col-12">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-12">Número de colección</label>
                                <input autocomplete="off" id="id_numerocoleccion" name="numerocoleccion" type="text" class="col-12">
                            </div>
                            <div class="form-group">
                                <label class="control-label col-12">Nombre científico</label>
                                <input autocomplete="off" id="id_nombrecientifico" name="nombrecientifico" type="text" class="ui-autocomplete-input col-12">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="text-left">
                            <button class="btn btn-primary" type="reset">Limpiar formulario</button>
                        </div>
                        <button class="btn btn-success" type="submit">Buscar</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

{% endblock %} {% block extraScript %}
<script src="{% static 'plantilla-frontend/lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'plantilla-frontend/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'plantilla-frontend/lib/wow/wow.min.js' %}"></script>
<script src="{% static 'plantilla-frontend/lib/waypoints/waypoints.min.js' %}"></script>
<script src="{% static 'plantilla-frontend/lib/counterup/counterup.min.js' %}"></script>
<script src="{% static 'plantilla-frontend/lib/superfish/hoverIntent.js' %}"></script>
<script src="{% static 'plantilla-frontend/lib/superfish/superfish.min.js' %}"></script>
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Poppins:300,400,500,700" rel="stylesheet">
<!-- jQuery UI !-->
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'plantilla-frontend/js/home.js' %}"></script>
<script src="{% static 'plugins/OwlCarousel2/dist/owl.carousel.min.js' %}"></script>
<script src="{% static 'index-home.js' %}"></script>



{% endblock %}