{% extends "baseBackend.html" %}
{% load static %}



{% block titulo %}
Index
{% endblock %}

{% block extrahead %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- Toastr style -->
    <link href="{% static 'plantilla-backend/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{% static 'plantilla-backend/js/plugins/gritter/jquery.gritter.css' %}" rel="stylesheet">

{% endblock %}

{% block content %} 
       

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-danger pull-right">Pendiente</span>
                    <h5>Solicitud de visitas</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{vsts_pndts}}</h1>
                    <div class="stat-percent font-bold text-danger"><i class="fa fa-calendar"></i></div>
                    
                    {% if vsts_pndts > 0 %}
                    <small>Visitas por aprobar</small>
                    {% else %}
                    <small>No hay solicitudes pendientes</small>
                    {% endif %}
                        
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-primary pull-right">Sistematizado</span>
                    <h5>Especimenes</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{especimenes}}</h1>
                    <div class="stat-percent font-bold text-navy"><i class="fa fa-pagelines"></i></div>
                    <small>Digitalizados</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <span class="label label-warning pull-right">Pendiente</span>
                    <h5>Solicitud servicios</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins">{{servicios_s}}</h1>
                    <div class="stat-percent font-bold text-warning"> <i class="fa fa-spinner"></i></div>
                    <small>Servicios por comenzar</small>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Servicios</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="myChart" width="600" height="400"></canvas>
                </div>
            </div>

        </div>
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Visitas</h5>
                </div>
                <div class="ibox-content">
                    <canvas id="myPieChart" width="600" height="400"></canvas>
                </div>
            </div>

        </div>
    </div>
</div>  

{% endblock %}


{% block plugins %}


    <!-- jQuery UI -->
    <script src="{% static 'plantilla-backend/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- ChartJS-->
    <script src="{% static 'plantilla-backend/js/plugins/chartJs/Chart.min.js' %}"></script>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Solicitudes', 'Proceso', 'Terminados', 'Entregados', 'Cancelados'],
                datasets: [{
                    label: '',
                    data: [ '{{servicios_s}}','{{servicios_p}}', '{{servicios_t}}', '{{servicios_e}}', '{{servicios_c}}'],
                    backgroundColor: [
                        'rgb(248, 172, 89, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgb(222, 222, 222, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgb(237, 85, 101, 0.2)'
                    ],
                    borderColor: [
                        'rgb(248, 172, 89, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgb(222, 222, 222, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgb(237, 85, 101, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });

        var ctx2 = document.getElementById('myPieChart').getContext('2d');
        var myPieChart = new Chart(ctx2, {
            type: 'pie',
            data: {
                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: [
                    'Pendientes',
                    'Aprobadas'
                ],
                datasets: [{
                    data: ['{{vsts_pndts}}', '{{vsts_aprbds}}'],
                    backgroundColor: ["#a3e1d4","#b5b8cf"]
                }]}
        })
        </script>

{% endblock %}
