{% extends "base1.html" %}
{% load static %}



{% block titulo %}
Index
{% endblock %}

{% block extrahead %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!-- Toastr style -->
    <link href="{% static 'plantilla-backend/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">

    <!-- Gritter -->
    <link href="{% static 'plantilla-backend/js/plugins/gritter/jquery.gritter.css' %}" rel="stylesheet">

{% endblock %}

{% block content %} 
       
{% endblock %}


{% block plugins %}

    <!-- Flot -->
    <script src="{% static 'plantilla-backend/js/plugins/flot/jquery.flot.js' %}"></script>
    <script src="{% static 'plantilla-backend/js/plugins/flot/jquery.flot.tooltip.min.js' %}"></script>
    <script src="{% static 'plantilla-backend/js/plugins/flot/jquery.flot.spline.js' %}"></script>
    <script src="{% static 'plantilla-backend/js/plugins/flot/jquery.flot.resize.js' %}"></script>
    <script src="{% static 'plantilla-backend/js/plugins/flot/jquery.flot.pie.js' %}"></script>

    <!-- Peity -->
    <script src="{% static 'plantilla-backend/js/plugins/peity/jquery.peity.min.js' %}"></script>
    <script src="{% static 'plantilla-backend/js/demo/peity-demo.js' %}"></script>


    <!-- jQuery UI -->
    <script src="{% static 'plantilla-backend/js/plugins/jquery-ui/jquery-ui.min.js' %}"></script>

    <!-- GITTER -->
    <script src="{% static 'plantilla-backend/js/plugins/gritter/jquery.gritter.min.js' %}"></script>

    <!-- Sparkline -->
    <script src="{% static 'plantilla-backend/js/plugins/sparkline/jquery.sparkline.min.js' %}"></script>

    <!-- Sparkline demo data  -->
    <script src="{% static 'plantilla-backend/js/demo/sparkline-demo.js' %}"></script>

    <!-- ChartJS-->
    <script src="{% static 'plantilla-backend/js/plugins/chartJs/Chart.min.js' %}"></script>

    <!-- Toastr -->
    <script src="{% static 'plantilla-backend/js/plugins/toastr/toastr.min.js' %}"></script>


    <script>
        $(document).ready(function() {
            setTimeout(function() {
                toastr.options = {
                    closeButton: true,
                    progressBar: true,
                    showMethod: 'slideDown',
                    timeOut: 4000
                };
                toastr.success('Responsive Admin Theme', 'Welcome to INSPINIA');

            }, 1300);


           
        });
    </script>
{% endblock %}
