{% extends "base_front2.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styleTable.css' %}"  />
    <style>
    .col-5{
        padding-right: 0px !important;
        padding-left: 0px !important;
    }
    </style>
{% endblock %}

{% block titulo %}  Busqueda  {% endblock %}

{% block guia %}
<p class="breadcrumbs" >
        <span class="mr-2" ><a href="{% url 'inicio' %}" style="color:aliceblue !important;">Inicio<i class="ion-ios-arrow-forward"></i></a></span> 
        <span class="mr-2">/</span> 
        <span class="mr-2" ><a href="javascript:void(0)" onclick="return viewCollec()"style="color:aliceblue !important;">Colectores    <i class="ion-ios-arrow-forward"></i></a></span> 
        <span class="mr-2">/</span> 
        <span><u>Busqueda</u> <i class="ion-ios-arrow-forward"></i></span>
    </p>

    
{% endblock %}

{% block content %}

<div class="container" >
    <div class="order-md-last ftco-animate col-8 offset-md-2">
        <h4>Colectores</h4>
        {% if colectores %}
            <div id=listColectores>
                {% for colector in colectores %}
                    <a  href="javascript:void(0)" onclick="return searchCollec('{{colector.id}}');">{{colector.nombre_completo}}</a> 
                    <br>
                {% endfor %}
            </div>
            <div id="tablaCol" style="display:none;"> 
                <table id="tablaEspecieColec" class="table table-bordered" style="width:100%">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Información</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                    </tbody>
                </table>
            </div>
        {%  else %}
            <table id="tablaEspecie" class="table table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Información</th>
                    </tr>
                </thead>
                <tbody>
                    {% if especimenes %}
                        {% for especimen in especimenes %}
                            <tr>
                                {% if especimen.imagen %}
                                    <td><img src="{% get_media_prefix  %}{{especimen.imagen}}"alt="" />
                                        <br>
                                        <a href="{% url 'especimen:vistaEspecimen' pk=especimen.num_registro %}" target="_blank"><span class="fa fa-eye">Ver</a>
                                    </td>
                                {% else %}
                                <td><img src="/media/fotografias/vacio.jpg" alt="">
                                    <br> 
                                    <a href="{% url 'especimen:vistaEspecimen' pk=especimen.num_registro %}" target="_blank"><span class="fa fa-eye">Ver</a>
                                </td>
                                {% endif %}
                                <td>
                                    <div class="container" >
                                        <div class="row">
                                            <div class="col-5">
                                                <strong><i>Número de Registro:</i></strong> 
                                                <br>
                                                <strong><i>Género:</i></strong> 
                                                <br>
                                                <strong><i>Familia:</i></strong> 
                                                <br>
                                                <strong><i>Colector Principal:</i></strong> 
                                                <br>
                                                <strong><i>Tipo:</i></strong> 
                                                <br>
                                                <strong><i>País:</i></strong> 
                                            </div>
                                            <div class="col-5">
                                                {{especimen.num_registro}}
                                                <br>
                                                {{especimen.genero}}
                                                <br>
                                                {{especimen.familia}}
                                                <br>
                                                {{especimen.colector_ppal}}
                                                <br>
                                                {{especimen.tipo}}
                                                <br>
                                                {{especimen.pais}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        
                        {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        {% endif %}

    </div>
</div>

{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

    <script >
    $(document).ready(function() {
        $('.table').DataTable({
            pageLength: 25,
            responsive: true,
            ordering:  false
        });
    });

    function viewCollec(){
        document.getElementById("listColectores").style.display="block"
        document.getElementById("tablaCol").style.display="none"
    }

    function searchCollec(idColector) {
        colector=idColector
        var especimenes = "{{ especimenes_dumps|escapejs }}";
        $.ajax({
            url:  "{% url 'especimen:busquedaColectores' %}" ,
            type:  'post',
            dataType:  'json',
            data:{
                'especimenes':especimenes,
                'colector':idColector,
                'csrfmiddlewaretoken': '{{ csrf_token }}',
            },
            success: function  (data) {
                document.getElementById("listColectores").style.display="none"
                document.getElementById("tablaCol").style.display="block"
                especimenes=data['data']
                var table = $('#tablaEspecieColec').DataTable();
                table.clear().draw();
                for(var i=0; i<especimenes.length; i++){
                    var imagen=''
                    url='/especimen/detalle/'+especimenes[i].num_registro
                    if( especimenes[i].imagen !=""){
                        imagen= `<td>
                                    <img src="{% get_media_prefix  %}`+especimen.especimenes[i].imagen`"alt="" />
                                    <br>
                                    <a href=${url}  target="_blank"><span class="fa fa-eye">Ver</a>
                                </td>`
                    }
                    else{
                        imagen=`<td>
                                    <img src="/media/fotografias/vacio.jpg" alt="">
                                    <br> 
                                    <a href=${url}  target="_blank"><span class="fa fa-eye">Ver</a>
                                </td>`
                    }
                    info=`<td>
                            <div class="container" >
                                <div class="row">
                                    <div class="col-5">
                                        <strong><i>Número de Registro:</i></strong> 
                                    </div>
                                    <div class="col-5">`
                                        + especimenes[i].num_registro+`
                                    </div>
                                    <br>
                                    <div class="col-5">
                                        <strong><i>Género:</i></strong> 
                                    </div>
                                    <div class="col-5">`
                                        + especimenes[i].genero+`
                                    </div>
                                    <br>
                                    <div class="col-5">
                                        <strong><i>Familia:</i></strong> 
                                    </div>
                                    <div class="col-5">`
                                        + especimenes[i].familia+`
                                    </div>
                                    <br>
                                    <div class="col-5">
                                        <strong><i>Colector Principal:</i></strong> 
                                    </div>
                                    <div class="col-5">`
                                        + especimenes[i].colector_ppal+`
                                    </div>
                                    <br>
                                    <div class="col-5">
                                        <strong><i>Tipo:</i></strong> 
                                    </div>
                                    <div class="col-5">`
                                        + especimenes[i].tipo+`
                                    </div>
                                    <br>
                                    <div class="col-5">
                                        <strong><i>País:</i></strong> 
                                    </div> 
                                    <div class="col-5">`
                                        + especimenes[i].pais+`
                                    </div>
                                    <br>
                                </div>
                            </div>
                        </td>`
                table.rows.add([[imagen, info]]).draw(); 
                } 
            }
        })
    }
</script>
{% endblock %}
