{% extends "base_front2.html" %}
{% load static %}

{% block head %} 
<style>
    .card{
        min-height: 1px;
        margin-top: 15px;
        margin-bottom: 15px;
        /*border: 1px solid rgba(124, 202, 103, 0.34);*/
        box-shadow: 3px 3px 3px #888;
        border-bottom-width: 3px;
    }
    .card-header{
        background: white !important;
        color: #297b1a;
        padding-top: 0.2rem !important;
        padding-right: 1.25rem!important;
        padding-bottom: 0.2rem!important;
        padding-left: 1.25rem!important;
    }
    .card-body{
        padding-top: 0.35rem;
        padding-bottom: 0.35rem;
    }
    #map { 
          width: 100%;
          height: 580px;
          box-shadow: 5px 5px 5px #888;
       }

</style>
    <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
 --> 
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.2/dist/leaflet.css" />
{% endblock %}
{% block titulo %}  Detalle Especimen  {% endblock %}

{% block guia %}
<p class="breadcrumbs" >
        <span class="mr-2" ><a href="{% url 'inicio' %}" style="color:aliceblue !important;">Inicio<i class="ion-ios-arrow-forward"></a></span> 
        <span class="mr-2">></span> 
        <span><u>Detalle Especimen</u> <i class="ion-ios-arrow-forward"></span>
    </p>
{% endblock %}

{% block content %}

    <div class="container" >
        <h1>{{taxonomia.genero}} {{taxonomia.epiteto_especifico}} {{taxonomia.autor1}} </h1>
        <br>
        <div class="row">
            <div class="col-6">
                <!-- <div class="container" >
                    <div class="row"> -->
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-barcode"></i>
                                <b>General</b>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                            <strong>Número de Registro:</strong> 
                                            <br>
                                            <strong>Tipo:</strong> 
                                            <br>
                                            <strong>Determinador:</strong> 
                                    </div>
                                    <div class="col-6">
                                        {{especimen.num_registro}}
                                        <br>
                                        {% if especimen.tipo %}
                                            {{especimen.tipo}}
                                        {% else %}
                                            ----
                                        {% endif %}
                                        <br>
                                        {% if determinador.nombre_completo %}
                                            {{determinador.nombre_completo}}  {{determinador.nombre_abreviado}}
                                        {% else %}
                                            ----
                                        {% endif %}
                                        <br>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-pagelines"></i>
                                <b>Taxonomia</b>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                    <strong>Genero: </strong> 
                                    <br>
                                    <strong>Familia: </strong> 
                                    <br>
                                    <strong>Epiteto Especifico: </strong> 
                                    <br>
                                    </div>
                                    <div class="col-6">
                                        {{taxonomia.genero}}
                                        <br>
                                        {{taxonomia.familia}}
                                        <br>
                                        {{taxonomia.epiteto_especifico}}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-book"></i>
                                <b>Colección</b> 
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                        <strong>Fecha de Colección: </strong> 
                                        <br>
                                        <strong>Número de Colección: </strong> 
                                        <br>
                                        <strong>Colector principal </strong> 
                                        <br>
                                    </div>
                                    <div class="col-6">
                                        {{coleccion.fecha}}
                                        <br>
                                        NUMERO
                                        <br>
                                        {% if colectorPpal.nombre_completo %}
                                        {{ colectorPpal.nombre_completo}} {{colectorPpal.nombre_abreviado}}
                                        {% else %}
                                            ----
                                        {% endif %}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <i class="fa fa-map-marker"></i>
                                <b>Ubicación</b>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-6">
                                            <strong>Pais: </strong> 
                                            <br>
                                            <strong>Departamento: </strong>
                                            <br> 
                                            <strong>Municipio: </strong> 
                                            <br>                            
                                            <strong>Localidad: </strong> 
                                            <br>
                                            <strong>Especificación Locacion: </strong> 
                                            <br>
                                            <strong>Latitud: </strong> 
                                            <br>
                                            <strong>Longitud: </strong> 
                                            <br>
                                            <strong>Altura </strong> 
                                            <br>
                                    </div>
                                    <div class="col-6">
                                        {{ubicacion.pais}}
                                        <br>
                                        {% if especimen.peligro == "EX"  or especimen.peligro == "LC" or especimen.peligro == "DD" or especimen.peligro == "NE" %}
                                            
                                            {{ubicacion.departamento}}
                                            <br>
                                            {{ubicacion.municipio}}
                                            <br>
                                            {{ubicacion.divisionPolitica}} {{ubicacion.especificacionLocacion}}
                                            <br>
                                            {{ubicacion.longitud}}
                                            <br>
                                            {{ubicacion.latitud}}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                          </div>
                        
                        
                    <!-- </div>

                </div> -->
            </div>
            <div class="col-5">
                <div id="seadragon-viewer" style="width:600px; height:500px;"></div>
                
                <!-- <img src="/media/prueba.jpg"  data-magnify="gallery"
                 data-caption="Image Caption 1"  data-src="/media/prueba.jpg"> -->

        </div>

    </div>
    <div id="map" class="map" style="height:400px;"></div>

{% endblock %}

{% block javascript %}

<script src="/static/plugins/openseadragon/openseadragon.min.js"></script>
<!-- <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
 -->
 <script src="https://unpkg.com/leaflet@1.0.2/dist/leaflet.js"></script>
 <script>
    var viewer = OpenSeadragon({
        id: "seadragon-viewer",
        prefixUrl: "//openseadragon.github.io/openseadragon/images/",
        tileSources: {
        type: 'image',
        url:  '/media/test.jpg',
        },
        showNavigator:  true, 
    });
    document.getElementById('contentDiv').querySelector('.openseadragon-canvas').focus();
</script>
<script>
    //var map = new ol.Map({
    //layers: [new ol.layer.Tile({source: new ol.source.OSM()})],
    //target: 'map',
    //view: new ol.View({
    //projection: 'EPSG:4326',
    //center: [-74.80875, 5.4153093],//long,lat
    //zoom: 10})});
</script>

<script>
    var latlong=[3.41667,-76.53333];//lt, long
    var map = L.map('map').setView(latlong,12);
    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
    }).addTo(map);
    L.control.scale().addTo(map);
    L.marker(latlong,{draggable: true}).addTo(map);
</script>



{% endblock %}


