{% extends "base_front2.html" %}
{% load static %}

{% block head %} 
<style>
    .card{
        min-height: 1px;
        margin-top: 15px;
        margin-bottom: 15px;
        /*border: 1px solid rgba(124, 202, 103, 0.34);*/
        box-shadow: 3px 3px 3px #888;
        border-bottom-width: 3px;
    }
    .card-header{
        background: white !important;
        color: #297b1a;
        padding-top: 0.2rem !important;
        padding-right: 1.25rem!important;
        padding-bottom: 0.2rem!important;
        padding-left: 1.25rem!important;
    }
    .card-body{
        padding-top: 0.35rem;
        padding-bottom: 0.35rem;   
    }
    .card-body .val {
        font-style: normal;
    }
    #map { 
          width: 100%;
          height: 580px;
          box-shadow: 5px 5px 5px #888;
       }
    @media print {
        body * {
            visibility: visible; // part to hide at the time of print
            -webkit-print-color-adjust: exact !important; // not necessary use         
               if colors not visible
        }

        #printBtn {
            visibility: hidden !important; // To hide 
        }
    }



</style>
    <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css">
 --> 
<link rel="stylesheet" href="/static/plugins/leaflet/leaflet.css" />
{% endblock %}
{% block titulo %}  Detalle Especimen  {% endblock %}

{% block guia %}
<p class="breadcrumbs" >
        <span class="mr-2" ><a href="{% url 'inicio' %}" style="color:aliceblue !important;">Inicio<i class="ion-ios-arrow-forward"></a></span> 
        <span class="mr-2">></span> 
        <span><u>Detalle Especimen</u> <i class="ion-ios-arrow-forward"></span>
    </p>
{% endblock %}

{% block content %}
    {% if especimen %}
        <div class="container" >
            <h1>{{taxonomia.genero}} {{taxonomia.epiteto_especifico}} {{taxonomia.autor1}} </h1>
            <br>
            <div class="row">
                <div class="col-6">
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-barcode"></i>
                            <b>General</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <b>Número de Registro CUVC:</b>
                                </div>
                                <div class="col-6 val">
                                    {{especimen.num_registro}}
                                </div>
                            </div>
                            {% if especimen.tipo != 'NoTipo' %}
                                <div class="row">
                                    <div class="col-6">
                                        <strong>Tipo:</strong> 
                                    </div>
                                    <div class="col-6 val">
                                        {{especimen.tipo}}
                                    </div>
                                </div>
                            {% endif %}
                            <div class="row">
                                <div class="col-6">
                                    <strong>Determinador:</strong> 
                                </div>
                                <div class="col-6 val">
                                    {% if determinador.nombre_completo %}
                                        {{determinador.nombre_completo}}  {{determinador.nombre_abreviado}}
                                    {% else %}
                                        ----
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-pagelines"></i>
                            <b>Taxonomía</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <strong>Familia: </strong> 
                                </div>
                                <div class="col-6 val">
                                    {% if taxonomia.familia %}
                                        {{taxonomia.familia}}
                                    {% else %}
                                        ----
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <strong>Genero: </strong> 
                                </div>
                                <div class="col-6 val">
                                    {% if taxonomia.genero %}
                                        <em>{{taxonomia.genero}}</em>
                                    {% else %}
                                        ----
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <strong>Especie: </strong>
                                </div>
                                <div class="col-6 val">
                                    {% if taxonomia.epiteto_especifico %}
                                        <em>{{taxonomia.genero}} {{taxonomia.epiteto_especifico}}</em> {{taxonomia.autor1}}
                                    {% else %}
                                        ----
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-book"></i>
                            <b>Colección</b> 
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <strong>Fecha de Colección: </strong> 
                                </div>
                                <div class="col-6 val">
                                    {% if coleccion.fecha %}
                                        {{coleccion.fecha}}
                                    {% else %}
                                        ----
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <strong>Número de Colección: </strong> 
                                 </div>
                                <div class="col-6 val">
                                    {% if coleccion.numero %}
                                        {{coleccion.numero}}
                                    {% else %}
                                        ----
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <strong>Colector principal </strong>
                                </div>
                                <div class="col-6 val">
                                    {% if colectorPpal.nombre_completo %}
                                        {{ colectorPpal.nombre_completo}} {{colectorPpal.nombre_abreviado}}
                                    {% else %}
                                        ----
                                    {% endif %}
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <i class="fa fa-map-marker"></i>
                            <b>Ubicación</b>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6"><strong>Pais: </strong></div>
                                <div class="col-6 val">
                                    {% if ubicacion.pais%}
                                        {{ubicacion.pais}}
                                    {% else %}
                                        ----
                                    {% endif %}
                                </div>
                            </div>
                            {% if especimen.peligro == "EX"  or especimen.peligro == "LC" or especimen.peligro == "DD" or especimen.peligro == "NE" %}

                                <div class="row">
                                    <div class="col-6"><strong>Departamento: </strong></div>
                                    <div class="col-6 val">
                                    {% if ubicacion.departamento%}
                                        {{ubicacion.departamento}}
                                    {% else %}
                                        ----
                                    {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><strong>Municipio: </strong></div>
                                    <div class="col-6 val">
                                        {% if ubicacion.municipio %}
                                            {{ubicacion.municipio}}
                                        {% else %}
                                            ----
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><strong>Localidad: </strong></div>
                                    <div class="col-6 val">
                                        {% if ubicacion.divisionPolitica and ubicacion.especificacionLocacion %}
                                            {{ubicacion.divisionPolitica}}, {{ubicacion.especificacionLocacion}}
                                        {% elif ubicacion.divisionPolitica or ubicacion.especificacionLocacion %}
                                            {{ubicacion.divisionPolitica}} 
                                            {{ubicacion.especificacionLocacion}}
                                        {% else %}
                                            ----
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><strong>Latitud: </strong></div>
                                    <div class="col-6 val">
                                        {% if ubicacion.latitud %}
                                            {{ubicacion.latitud}}
                                            <small>{{ubicacion.posicionLat}}</small>
                                        {% else %}
                                            ----
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6"><strong>Longitud: </strong></div>
                                    <div class="col-6 val">
                                        {% if ubicacion.longitud%}
                                            {{ubicacion.longitud}}
                                            <small>{{ubicacion.posicionLong}}</small> 
                                        {% else %}
                                            ----
                                        {% endif %}
                                    </div>
                                </div>
                                {% else %}
                                    <mark> Este especimen se encuentra amanezado, el Herbario se reserva el derecho de guardar su ubicación</mark>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-5" >
                    <div id="seadragon-viewer" style="width:600px; height:600px;"></div>
                </div>
            </div>
            {% if especimen.peligro == "EX"  or especimen.peligro == "LC" or especimen.peligro == "DD" or especimen.peligro == "NE" %}
                <div id="map" class="map" style="height:400px; display: none"></div>
            {% endif %}

            <button id='printBtn'>Imprimir</button>
        </div>
    {% else %}
        <div class="container" >
            <div class="alert alert-danger" role="alert">
                Lo sentimos no tenemos resultado para su busqueda
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block javascript %}

    <script src="/static/plugins/openseadragon/openseadragon.min.js"></script>
    <script src="/static/plugins/leaflet/leaflet.js "></script>
    <script>
        var viewer = OpenSeadragon({
            id: "seadragon-viewer",
            prefixUrl: "//openseadragon.github.io/openseadragon/images/",
            tileSources: {
            type: 'image',
            url:  '/media/test.jpg',
            },
            showNavigator:  true, 
        });
        document.getElementById('seadragon-viewer').querySelector('.openseadragon-canvas').focus();
    </script>

    <script>
        if('{{ubicacion.latitud}}' != 'None' && '{{ubicacion.longitud}}' != 'None'){
            document.getElementById('map').style.display='block'
            let lat = {{ubicacion.latitud}}
            let long = {{ubicacion.longitud}}
            const ns = '{{ubicacion.posicionLat}}'
            const ew = '{{ubicacion.posicionLong}}'
            if(ew =='W'){
                long= -long
            }
            if(ns =='S'){
                lat= -lat
            }
            {% comment %} var latlong=[3.41667,76.53333];//lt, long {% endcomment %}
            var latlong=[lat,long];//lt, long
            var map = L.map('map').setView(latlong,12);
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
            maxZoom: 18
            }).addTo(map);
            L.control.scale().addTo(map);
            L.marker(latlong,{draggable: true}).addTo(map);
        }   
    </script>

    <script>
    const $scope= document.getElementById('printBtn')
    $scope.printWindow = function () {
        window.print()
    }
</script>

{% endblock %}


