{% extends "base_front2.html" %}
{% load static %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'styleTable.css' %}"  />
{% endblock %}

{% block titulo %}  Busqueda  {% endblock %}

{% block guia %}
<p class="breadcrumbs" >
        <span class="mr-2" ><a href="{% url 'inicio' %}" style="color:aliceblue !important;">Home<i class="ion-ios-arrow-forward"></i></a></span> 
        <span class="mr-2">></span> 
        <span><u>Busqueda</u> <i class="ion-ios-arrow-forward"></i></span>
    </p>
{% endblock %}

{% block content %}
    <table id="example" class="table table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>Imagen</th>
                <th>Información</th>
            </tr>
        </thead>
        <tbody>
            {% if especimenes %}
                {% for especimen in especimenes %}
                    <tr>
                        {% if especimen.imagen %}
                            <td><img src="{% get_media_prefix  %}{{especimen.imagen}}"alt="" />
                                <br>
                                <a href="{% url 'especimen:editar_especimen' pk=especimen.pk %}"><span class="fa fa-eye">Ver</a>
                            </td>
                        {% else %}
                        <td><img src="/media/fotografias/vacio.jpg" alt="">
                            <br>
                            <a href="{% url 'especimen:editar_especimen' pk=especimen.pk %}"><span class="fa fa-eye">Ver</a>
                        </td>
                        {% endif %}
                        <td>
                            <!-- <strong><i>Número de Catálogo:</i></strong> {{especimen.num_registro}}
                            <br>
                            <strong><i>Género:</i></strong> {{especimen.categoria.genero}}
                            <br>
                            <strong><i>Familia:</i></strong> {{especimen.categoria.familia}}
                            <br>
                            <strong><i>Colector Principal:</i></strong> {{especimen.coleccion.colector_ppal.nombre_completo}}
                            <br>
                            <strong><i>Tipo:</i></strong> {{especimen.tipo}}
                            <br>
                            <strong><i>País:</i></strong> {{especimen.ubicacion.pais}} -->

                            <div class="container" >
                                <div class="row">
                                    <div class="col-5">
                                        <strong><i>Número de Catálogo:</i></strong> 
                                        <br>
                                        <strong><i>Género:</i></strong> 
                                        <br>
                                        <strong><i>Familia:</i></strong> 
                                        <br>
                                        <strong><i>Colector Principal:</i></strong> 
                                        <br>
                                        <strong><i>Tipo:</i></strong> 
                                        <br>
                                        <strong><i>País:</i></strong> 
                                    </div>
                                    <div class="col-5">
                                    {{especimen.num_registro}}
                                    <br>
                                    {{especimen.categoria.genero}}
                                    <br>
                                    {{especimen.categoria.familia}}
                                    <br>
                                    {{especimen.coleccion.colector_ppal.nombre_completo}}
                                    <br>
                                    {{especimen.tipo}}
                                    <br>
                                    {{especimen.ubicacion.pais}}
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                
                {% endfor %}
            {% endif %}


        </tbody>
    <!--     <thead>
            <tr>
            <th>Imagen</th>
            <th>Número de catálogo</th>
            <th>Género</th>
            <th>Familia</th>
            <th>Colector Principal</th>
            <th>Tipo</th>
            <th>País</th>
            <th>Detalle</th>
            </tr>
        </thead>
        <tbody>
            {% if especimenes %}
                {% for especimen in especimenes %}
                <tr>
                    {% if especimen.imagen %}
                        <td><img src="{% get_media_prefix  %}{{especimen.imagen}}"alt="" /></td>
                    {% else %}
                    <td>
                        <img src="/media/fotografias/vacio.jpg"alt="" />
                        
                    </td>
                    {% endif %}
                    <td>{{especimen.num_registro}}</td>
                    <td>{{especimen.categoria.genero}}</td>
                    <td>{{especimen.categoria.familia}}</td>
                    <td>{{especimen.coleccion.colector_ppal.nombre_completo}}</td>
                    <td>{{especimen.tipo}}</td>
                    <td>{{especimen.ubicacion.pais}}</td>
                    
                    <td>
                    <a href="{% url 'especimen:editar_especimen' pk=especimen.pk %}"><span class="fa fa-eye">Ver</a>
                    
                    </td>
                    
                </tr>
                {% endfor %}
            {% endif %}
        </tbody>
        <tfoot>
            <tr>
                <th>Imagen</th>
                <th>Familia</th>
                <th>Género</th>
                <th>Epíteto Específico</th>
                <th>Determinador</th>
                <th>Colector Principal</th>
                <th>Detalle</th>
            </tr>
        </tfoot> -->
    </table>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" >
        $(document).ready(function() {
            $('#example').DataTable({
                pageLength: 20,
                responsive: true,
                ordering:  false,
                "order": [1,'asc'],
            });
        });
    </script>
    {% endblock %}
