<!DOCTYPE html>
<html>
    <p>holiiii</p>
    <table class="table table-striped table-bordered table-hover dataTables-example" >
                    <thead>
                    <tr>
                        <th>Número de registro</th>
                        <th>Familia</th>
                        <th>Género</th>
                        <th>Epíteto Específico</th>
                        <th>Determinador</th>
                        <th>Colector Principal</th>
                        <th>Acciones</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% if especimenes %}
                        {% for especimen in especimenes %}
                        <tr>
                            <td>{{especimen.num_registro}}</td>
                            <td>{{especimen.categoria.familia}}</td>
                            <td>{{especimen.categoria.genero}}</td>
                            <td>{{especimen.categoria.epiteto_especifico}}</td>
                            <td>{{especimen.determinador.nombre_completo}}</td>
                            <td>{{especimen.coleccion.colector_ppal.nombre_completo}}</td>
                            
                            <td>
                              <a class="btn btn-primary" href="{% url 'especimen:editar_especimen' pk=especimen.pk %}"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></a>
                              <a class="btn btn-danger" href="{% url 'especimen:eliminar_especimen' pk=especimen.pk %}"onclick="return confirm('Desea eliminar el registro {{especimen.num_registro}}?')"
                              ><span class="glyphicon glyphicon-trash" aria-hidden="true"></a>
                              
                            </td>
                            
                        </tr>
                        {% endfor %}
                        {% endif %}
                        
                    
                    
                    </tbody>
                    <tfoot>
                    <tr>
                        <th>Número de registro</th>
                        <th>Familia</th>
                        <th>Género</th>
                        <th>Epíteto Específico</th>
                        <th>Determinador</th>
                        <th>Epiteto Especifico</th>
                        <th>Acciones</th>
                    </tr>
                    </tfoot>
                    </table>
</html>