
{% extends "baseBackend.html" %}
{% load static %}



{% block titulo %}
Crear Especimen
{% endblock %}

{% block extrahead %}
<link href="{% static 'plantilla-backend/css/plugins/iCheck/custom.css' %}" rel="stylesheet">
<link href="{% static 'plantilla-backend/css/plugins/steps/jquery.steps.css' %}" rel="stylesheet">
<link href="{% static 'plantilla-backend/css/plugins/datapicker/datepicker3.css' %}" rel="stylesheet">
<link href="{% static 'plantilla-backend/css/plugins/iCheck/custom.css' %}" rel="stylesheet">
<link href="{% static 'style.css' %}" rel="stylesheet">
<!-- Krajee plugin-upload file -->
<link href="{% static 'plugins/krajee/css/fileinput.min.css' %}" media="all" rel="stylesheet">
<link href="{% static 'plugins/krajee/themes/explorer/theme.css' %}" media="all" rel="stylesheet">
<!-- Toastr style -->
<link href="{% static 'plantilla-backend/css/plugins/toastr/toastr.min.css' %}" rel="stylesheet">
<!-- query-ui style -->
<link href="{% static 'plantilla-backend/js/plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">

<style>
    fieldset {
        background: white
    }
</style>
{% endblock %}


{% block content %} 
 <div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-title">
                <h5>INGRESAR ESPÉCIMEN</h5>
            </div>
            <div class="ibox-content">

                <form id="form"  enctype="multipart/form-data" class="wizard-big " method="post">
                    {% csrf_token %}
                    <h1>Datos solicitud</h1>
                    <fieldset >
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="col-sm-2 control-label" for={{formCliente.nombre_completo.name}}>{{formCliente.nombre_completo.label}}</label>
                                <div class="col-sm-6">{{formCliente.nombre_completo}}</div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-2 control-label" for={{formCliente.tipo_identificacion.name}}>{{formCliente.tipo_identificacion.label}}</label>
                                <div class="col-sm-6">{{formCliente.tipo_identificacion}}</div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-2 control-label" for={{formCliente.identificacion.name}}>{{formCliente.identificacion.label}}</label>
                                <div class="col-sm-6">{{formCliente.identificacion}}</div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-2 control-label" for={{formCliente.correo.name}}>{{formCliente.correo.label}}</label>
                                <div class="col-sm-6">{{formCliente.correo}}</div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-2 control-label" for={{formCliente.num_contacto.name}}>{{formCliente.num_contacto.label}}</label>
                                <div class="col-sm-6">{{formCliente.num_contacto}}</div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-2 control-label" for={{prestamoForm.solicitud.name}}>{{prestamoForm.solicitud.label}}</label>
                                <div class="col-sm-6">{{prestamoForm.solicitud}}</div>
                            </div>
                        </div>
                    </fieldset >
                    
                    <h1>Datos entrega</h1>
                    <fieldset>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="col-sm-2 control-label" for={{prestamoForm.num_registro.name}}>{{prestamoForm.num_registro.label}}</label>
                                <div class="col-sm-6">{{prestamoForm.num_registro}}</div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label  class  = "col-sm-2"for={{prestamoForm.fecha_devolucion.name}}>{{prestamoForm.fecha_devolucion.label}}</label>
                                <div class="form-group col-sm-6" id="data_3">
                                    <div class="input-group date">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>{{prestamoForm.fecha_devolucion}}
                                    </div>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="col-sm-2 control-label" for={{prestamoForm.observaciones_entrega.name}}>{{prestamoForm.observaciones_entrega.label}}</label>
                                <div class="col-sm-6">{{prestamoForm.observaciones_entrega}}</div>
                            </div>
                        </div>
                    </fieldset>
                    
                    
                </form>
            </div>
        </div>
     </div>
</div>
{% endblock %}
       

{% block plugins %}

<!-- Steps -->
<script src="{% static 'plantilla-backend/js/plugins/steps/jquery.steps.min.js' %}"></script>
<!-- Jquery Validate -->
<script src="{% static 'plantilla-backend/js/plugins/validate/jquery.validate.min.js' %}"></script>
<!-- Data picker -->
<script src="{% static 'plantilla-backend/js/plugins/datapicker/bootstrap-datepicker.js'%}"></script>


<script language=Javascript>
    
    document.getElementById('id_nombre_completo').setAttribute('value', 'Jose Enrique Gaviria')
    document.getElementById('id_identificacion').setAttribute('value',1144856935)
    document.getElementById('id_correo').setAttribute('value', 'jose.gaviria@gmail.com')
    document.getElementById('id_num_contacto').setAttribute('value', 3217895614)
    document.getElementById('id_solicitud').innerHTML ='jkkjkj'
   
//  validar solo numeros en el campo de numero de registro 
    function isNumberKey(evt){
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
        return false;
        return true;
    }    
    // Manejo del wizard 
    $("#wizard").steps();
    $("#form").steps({
        bodyTag: "fieldset",
        onStepChanging: function (event, currentIndex, newIndex)
        {
            // Siempre permita retroceder incluso si el paso actual contiene campos no válidos.
            if (currentIndex > newIndex)
            {
                return true;
            }

            var form = $(this);

            // Limpiar si el usuario retrocedió antes
            if (currentIndex < newIndex)
            {
                // To remove error styles
                $(".body:eq(" + newIndex + ") label.error", form).remove();
                $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
            }

            // no valida los campos que están deshabilitados u ocultos.
            form.validate().settings.ignore = ":disabled,:hidden, .ignored";

            // valida cada pestaña, no permite avanzar si no es valido
            return form.valid();
        },
        onFinishing: function (event, currentIndex)
        {
            var form = $(this);

            //  no valida los campos que están deshabilitados.
            form.validate().settings.ignore = ":disabled, .ignored";

            // hace la validación; Evitar el envío de formularios si es falso no permite avanzar
            return form.valid();
        },
        onFinished: function (event, currentIndex)
        {
            var form = $(this);
            

            // Submit form input
            form.submit();

        }
    });
    
    //calenddario en los campos date
    $('#data_3 .input-group.date').datepicker({
        startView: 2,
        todayBtn: "linked",
        keyboardNavigation: false,
        forceParse: false,
        autoclose: true
    });

</script>

{% endblock %}



